MODEL:
  FLOW_NET:
    NAME: "FlowNetS"
    PIXEL_MEAN: [0.45, 0.432, 0.411]
    PIXEL_STD: [1, 1, 1]
    NEGATIVE_SLOPE: 0.1
    MULTISCALE_WEIGHTS: [0.005, 0.01, 0.02, 0.08, 0.32]
    FLOW_DIV: 20.0
DATASETS:
  TRAIN: ("flying_chairs_train",)
  TEST: ("flying_chairs_test",)
SOLVER:
  IMS_PER_BATCH: 8
  BASE_LR: 0.0001
  STEPS: (300000, 400000, 500000)
  MAX_ITER: 600000
  MOMENTUM: 0.9
  WEIGHT_DECAY: 0.0004
  GAMMA: 0.5
  OPTIMIZER:
    NAME: "Adam"
    BETAS: (0.9, 0.999)
    AMSGRAD: False
INPUT:
  TRANSLATION:
    ENABLED: False
    RANGE: 0.2
  ROTATION:
    ENABLED: False
    ANGLE: [-17, 17]
  CROP:
    ENABLED: False
    TYPE: "absolute"
    SIZE: [320, 448]
  FLIP: "" # optional: ["" | "horizontal" | "vertical" | "both"]

TEST:
  EVAL_PERIOD: 10000
VIS_PERIOD: 5000
VERSION: 2
